<header class="navbar navbar-override">
    <section class="navbar-section">
        <a href="/" class="navbar-brand navbar-text">
            <i class="icon icon-pages"></i>EDUALIZE
        </a>
        <p class="navbar-text navbar-subhead-text">
          a <a href="https://github.com/Turing-Pahlka-Posse", class="navbar-subhead-link", target="_blank">Pahlka Posse</a> Production
        </p>
    </section>
</header>